<form ng-submit="addWord()" class="MS_form">
  <ul class="MS_list">
    <li ng-repeat="word in words" class="MS_word">
      <span>{{word}}</span>
      <span ng-click="removeWord($index)" class="MS_remove"></span>
    </li>
    <li ng-style="{'flex-basis': getWordsWidth() + 'px'}" class="MS_flex">
      <input ng-model="word" ng-keydown="keydown($event)" type="text" class="MS_input" id="MS_input" autofocus>
    </li>
  </ul>
  <span ng-show="showError" class="MS_error">{{error}}</span>
  <span class="MS_input" id="MS_words-width">{{word}}</span>
</form>
